.top-movies {
  background: #080808;
  &__main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 0;
  }
  &__main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__main-top-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #ffffff;
  }
  &__main-top-filter {
    display: flex;
  }
  &__main-top-filter-item {
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    @extend %link-hover;
  }
  &__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    height: 580px;
  }
  &__main-content-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "one two"
      "three two"
      "four two";
    gap: 30px;
    max-width: 800px;
    width: 100%;
  }
  &__main-content-left-itme {
    max-width: 411px;
    width: 100%;
    height: 146px;
    background: #c4c4c4;
    border-radius: 20px;
  }
  &__main-content-left-itme-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  &__main-content-right {
    display: flex;
    flex-direction: column;
    gap: 14px;
    max-width: 720px;
    width: 100%;
  }
  &__main-content-right-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 669px;
    height: 82px;
    width: 100%;
    padding: 20px 45px;
    box-sizing: border-box;
    background: linear-gradient(
      90deg,
      rgba(21, 21, 21, 0.22) 46.79%,
      rgba(21, 21, 21, 0) 102.99%
    );
    border-radius: 20px;
    @extend %top-movie-hover;
  }
  &__main-content-right-item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__main-content-right-item-top {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;
  }
  &__main-content-right-item-top-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #ffffff;
    margin: 0;
  }
  &__main-content-right-itme-top-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  &__main-content-right-info {
    display: none;
    padding-left: 85px;
    opacity: 0;
  }
  &__main-content-right-info-text {
    width: 100%;
  }
  &__main-content-right-info-caption {
    display: flex;
    gap: 10px;
  }
  &__main-content-right-info-caption-item {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__main-content-right-info-rating {
    display: flex;
    gap: 40px;
  }
  &__main-content-right-info-rating-stars {
    display: flex;
    gap: 5px;
  }
  &__main-content-right-info-title-rating-number {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
  &__main-content-right-watchlist {
    width: 70px;
    height: 70px;
    border: 1px solid rgba(228, 228, 228, 0.08);
    border-radius: 20px;
    background: none;
    display: none;
    @extend %button-hover;
  }
}
.top-movies__main-content-right-watchlist > .icon-heart::before {
  color: #fff;
  font-size: 30px;
}
.conteiner {
}
.fa-solid {
}
.fa-star {
  color: orange;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
  height: 100%;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
