@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ofsmf');
  src:  url('../fonts/icomoon.eot?4ofsmf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ofsmf') format('truetype'),
    url('../fonts/icomoon.woff?4ofsmf') format('woff'),
    url('../fonts/icomoon.svg?4ofsmf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 42px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook .path1:before {
  content: "\e900";
  color: rgb(24, 181, 220);
}
.icon-facebook .path2:before {
  content: "\e901";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-facebook-1 .path1:before {
  content: "\e902";
  color: rgb(93, 203, 230);
}
.icon-facebook-1 .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram .path1:before {
  content: "\e904";
  color: rgb(24, 181, 220);
}
.icon-instagram .path2:before {
  content: "\e905";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-instagram-1 .path1:before {
  content: "\e906";
  color: rgb(93, 203, 230);
}
.icon-instagram-1 .path2:before {
  content: "\e907";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-linkedin .path1:before {
  content: "\e908";
  color: rgb(24, 181, 220);
}
.icon-linkedin .path2:before {
  content: "\e909";
  margin-left: -1.0478515625em;
  color: rgb(255, 255, 255);
}
.icon-telegram .path1:before {
  content: "\e90a";
  color: rgb(24, 181, 220);
}
.icon-telegram .path2:before {
  content: "\e90b";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-twitter .path1:before {
  content: "\e90c";
  color: rgb(24, 181, 220);
}
.icon-twitter .path2:before {
  content: "\e90d";
  margin-left: -1.0234375em;
  color: rgb(255, 255, 255);
}
.icon-twitter-1 .path1:before {
  content: "\e90e";
  color: rgb(93, 203, 230);
}
.icon-twitter-1 .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
@font-face {
  font-family: 'Train One';
  src: url(../fonts/TrainOne-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf);
  src: url(../fonts/Lato-Light.ttf);
  src: url(../fonts/Lato-Regular.ttf);
}
.header {
  background: #FFF;
  border-bottom: 1px solid #BDBDBD;
}
.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  height: 80px;
  margin: 0px auto;
}
.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo__title {
  font-family: 'Train One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-transform: uppercase;
  color: #282528;
  margin: 0px;
}
.menu {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

}
.menu__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px auto;
  padding: 0px;
}
.menu-link-respons:hover {
  color: #18B5DC;
}
.menu__list-item {
  padding: 0px 15px;
}
.menu__link {
  text-decoration: none;
  color: #3C3C3C;
}
.button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3C3C3C;
}
.button__input {
  color: #3C3C3C;
  border: 1px solid #3C3C3C;
  background: #FFF;
  padding: 10px 20px;
}
.button__input--hover:hover {
  background: #18B5DC;
}
.main {
  background: #F6F6F6;
}
.main__conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  padding: 150px;
}
.title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #3C3C3C;
}
.title::after {
  content:'';
  position: absolute;
  width: 45px;
  height: 4px;
  background: #DDDBDB;
  margin-left: -25px;
}
.main__h1 {
  margin: 0px 0px 20px 0px;
}
.main__title {
  padding-bottom: 64px;
}
.main__text {
  max-width: 570px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
  padding-bottom: 60px;

}
.main-team {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #282528;
}
.main-team__row {
  display: flex;
  justify-content: space-between;
}
.team-active {
  text-align: left;
}
.team-active__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 270px;
  background: #18B5DC;
}
.team-active__item {
  text-decoration: none;
  padding: 0px 2px;
}
.icon-twitter-1 .path2:hover::before{
  content: '\e90e';
  color: #ffffff;
}
.icon-facebook-1 .path2:hover::before{
  content: '\e90e';
  color: #ffffff;
}
.icon-instagram-1 .path2:hover::before{
  content: '\e90e';
  color: #ffffff;
}
.team-active-colum {
  display: flex;
  flex-direction: column;
}
.team-active__border {
  padding: 0px 15px 20px;
}
.team-active__icon {
  padding: 0px 2px;
}
.team-active__name {
  margin: 0px;
  padding: 0px 15px;
}
.team-active__job {
  margin: 0px;
  padding: 0px 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
  margin: 0px;
  padding: 0px 15px;
}
.team-colum {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.team-colum__icons{
  position: relative;
  width: 270px;
}
.team-colum__img {
  display:block;
  width: 100%;
}
.team-colum__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #18B5DC;
}

.team-colum img{
  height: 270px;
}
.team-colum__name {
  margin: 0px;
  padding: 0px 15px;
}
.team-colum__job {
  margin: 0px;
  padding: 0px 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}
.footer__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
.footer-size{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.menu__list {
  padding: 28px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons__item {
  padding: 0px 5px;
}
.social-icons__img1 {
  position: absolute;
  margin: 0px px;
}
.social-icons__img {
  width: 24px;
}

.social-icons__img1:hover {
 opacity: 0;
}
