body {
  background: #161926;
}

.header {
  width: 100%;
  height: 80px;
  background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  box-sizing: border-box;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding: 0px;
  margin: 0px;
}

.header__item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: #ffffff;
}

.home {
  position: relative;
}

.home::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 3px;
  top: 25px;
  right: -1px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.home:hover::after {
  visibility: visible;
}

.about {
  position: relative;
}

.about::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -1px;
  width: 47px;
  height: 3px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.about:hover::after {
  visibility: visible;
}

.products {
  position: relative;
}

.products::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -1px;
  width: 65px;
  height: 3px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.products:hover::after {
  visibility: visible;
}

.use-cases {
  position: relative;
}

.use-cases::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -1px;
  width: 75px;
  height: 3px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.use-cases:hover::after {
  visibility: visible;
}

.pricing {
  position: relative;
}

.pricing::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -1px;
  width: 52px;
  height: 3px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.pricing:hover::after {
  visibility: visible;
}

.resources {
  position: relative;
}

.resources::after {
  content: "";
  position: absolute;
  top: 25px;
  right: -1px;
  width: 74px;
  height: 3px;
  background: linear-gradient(96.73deg, #53f3cd 6.73%, rgba(83, 243, 205, 0) 116.9%);
  opacity: 0.3;
  visibility: hidden;
}

.resources:hover::after {
  visibility: visible;
}

.header-burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.header-burger__item {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.header-burger__item::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-top: -8px;
}

.header-burger__item::after {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-top: 8px;
}

.header-burger__active span {
  background: rgba(255, 255, 255, 0);
}

.header-burger__active span::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

.header-burger__active span::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.header-active .header__menu {
  display: block;
}

.header-active .header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 3;
  gap: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(83, 243, 206, 0.219) 100%);
  box-sizing: border-box;
}

.header-active .header__item {
  padding: 15px;
  width: 100%;
  text-align: center;
}

.header-active .header__item:active {
  color: #ffffff;
  background-color: rgba(83, 243, 205, 0.5);
}

.header-active .home::after,
.header-active .about::after,
.header-active .products::after,
.header-active .use-cases::after,
.header-active .pricing::after,
.header-active .resources::after {
  content: "";
  top: 50px;
  width: 100%;
}

.first-screen__bg-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.first-screen__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.first-screen__content {
  display: flex;
  flex-direction: column;
  max-width: 523px;
  margin: 150px 0;
}

.first-screen__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 20px;
}

.first-screen__text-blue {
  font-style: italic;
  color: #689ff2;
}

.first-screen__text {
  max-width: 42ch;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.8;
  margin: 0;
}

.first-screen__button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #53f3cd;
  position: relative;
  margin-top: 50px;
  text-decoration: none;
}

.first-screen__button::after {
  content: "";
  position: absolute;
  width: 112px;
  height: 13px;
  top: 11px;
  left: 10px;
  background: #53F3CD;
  opacity: 0.3;
}

.footer__conteiner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0px;
  position: relative;
}

.footer__conteiner::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid #515773;
  background-color: #515773;
}

.footer__rights {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.6;
}

.footer__made-by {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.footer__author {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.6;
}

.footer__zgraya {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
}

.footer__agreement {
  display: flex;
  gap: 32px;
}

.footer__user-agreement {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
}

.footer__policy {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 1170px) {
  .header .header__conteiner {
    padding: 0 15px;
  }

  .first-screen .first-screen__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .footer .footer__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .header-burger {
    display: flex;
  }

  .first-screen .first-screen__content {
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer .footer__conteiner {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .first-screen .first-screen__title {
    font-size: 40px;
  }
}