@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Italic.woff2);
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}
%conteiner {
  max-width: 1170px;
  width: 100%;
  margin: auto;
}
%menu-beffore {
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -25px;
    height: 9px;
    width: -1px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
}
%menu-hover-focus {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  &:hover::before {
    background-color: #ffffff;
  }
}
%buttons-links-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.3);
  }
}
%dots {
  width: 9px;
  height: 9px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
%news-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.04);
  }
}
%gallery-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.05);
  }
}
%form-hover {
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
}
.header {
  height: 100vh;
  margin-bottom: 150px;
  background: linear-gradient(
      243.43deg,
      rgba(127, 92, 255, 0.9) 16.9%,
      rgba(87, 185, 255, 0.9) 83.27%
    ),
    url(../img/1.header/header-bg.webp) no-repeat top center / cover;
  &__conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 33vh;
  }
  &__arrow-link {
  }
  &__arrow {
    bottom: 10%;
    right: 48%;
    position: absolute;
    @extend %buttons-links-hover;
    z-index: 1;
  }
}
.header-active-one {
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  ),
  url(../img/1.header/header-bg-2.webp) no-repeat top center / cover;
}
.header-active-two {
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  ),
  url(../img/1.header/header-bg-3.webp) no-repeat top center / cover;
}
.header-active-three {
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  ),
  url(../img/1.header/header-bg-4.webp) no-repeat top center / cover;
}
.header-active-four {
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  ),
  url(../img/1.header/header-bg-2.webp) no-repeat top center / cover;
}
.header-active-five {
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  ),
  url(../img/1.header/header-bg-3.webp) no-repeat top center / cover;
}
.header-dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 42vh;
  right: 52px;
  gap: 40px;
  &__item-1 {
    @extend %dots;
  }
  &__item-2 {
    @extend %dots;
  }
  &__item-3 {
    @extend %dots;
  }
  &__item-4 {
    @extend %dots;
  }
  &__item-5 {
    @extend %dots;
  }
  &__active {
    background-color: #fff;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
  padding: 15px 0;
  &__wrapper {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }
  &__menu-body {
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-body-active {
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-link {
  }
  &__logo {
  }
  &__menu {
    display: flex;
    flex-shrink: 1;
    max-width: 515px;
    width: 100%;
    justify-content: space-between;
    margin: 0 15px;
  }
  &__menu-burger {
    display: none;
  }
  &__burger__active {
  }
  .nav-about {
    margin-left: 30px;
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-project {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-news {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  .nav-contact {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__social-link {
    @extend %buttons-links-hover;
  }
}
.header-heading {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #ffffff;
  }
}
.text-style {
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.sticky {
  position: fixed;
  width: 100%;
  margin: auto;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(87, 185, 255, 0.9) 83.27%
  );
  box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
}
.space {
  margin-top: 400px;
}
.header-burger {
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  position: relative;
  &__item {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    &::before {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      margin-top: -8px;
    }
    &::after {
      content: "";
      display: block;
      background-color: #fff;
      position: absolute;
      height: 4px;
      width: 30px;
      border-radius: 2px;
      margin-top: 8px;
    }
  }
  &__active {
    span {
      background: rgba(255, 255, 255, 0);
      &::before {
        margin-top: 0px;
        margin-top: 0;
      }
      &::after {
        margin-top: 0px;
        margin-top: 0;
      }
    }
  }
}
.header-nav__wrapper-active {
  width: 100%;
  position: relative;
  transition: all 0.4s;
  .header-nav__menu-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    margin-top: 389px;
    left: 0;
    transition: all 0.4s;
    background: linear-gradient(
    243.43deg,
    rgba(127, 92, 255, 0.9) 16.9%,
    rgba(127, 92, 255, 0.9) 16.9%,
  );
    box-shadow: 1px 5px 8px 1px rgba(0, 0, 255, 0.2);
    padding: 8px;
  }
  .header-nav__menu {
    flex-direction: column;
    padding: 15px 0;
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    .nav-about {
      margin-left: 0;
    }
  .header-nav__menu-item {
    padding: 15px;
  }
  .nav-about::before, .nav-project::before, .nav-news::before, .nav-contact::before  {
    top: 40%;
    left: 10%;
  }
  }
  .header-nav__social {
    padding-bottom: 20px;
  }
}
@media (max-width: 1170px) {
  .header-heading,
  .header-nav__wrapper {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media (max-width: 1135px) {
  .header-heading {
    padding: 0 90px;
    box-sizing: border-box;
  }
}
@media (max-width: 1103px) {
  .header-dots {
    top: 48vh;
  }
}
@media (max-width: 900px) {
  .header-nav__menu-body {
    display: none;
  }
  .header-burger {
    display: flex;
    z-index: 10;
  }
  
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 100px;
  }
}
@media (max-width: 649px) {
  .header-heading__title {
    font-size: 50px;
  }
  .header-heading__subtitle {
    font-size: 16px;
  }
  .header__conteiner {
    gap: 20vh;
  }
  .header-dots {
    display: none;
  }
  .header-heading {
    padding: 0 15px;
  }
  .header-nav__wrapper {
    gap: 0;
  }
  .header__arrow {
    right: 43%;
  }
}