@font-face {
  font-family: "Montserrat";
  src: url(../src/fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../src/fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../src/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url(../src/fonts/OpenSans-Italic.woff2);
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Regular.woff2);
  font-weight: 400;
}
%conteiner {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  gap: 223px;
}
%menu-beffore {
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -25px;
    height: 9px;
    border: 1px solid #ffffff;
    border-radius: 50%;
  }
}
%menu-hover-focus {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
  &:hover::before {
    background-color: #ffffff;
  }
}
%buttons-links-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.3);
  }
}
%dots {
  width: 9px;
  height: 9px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
%news-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.1);
  }
}
%gallery-hover {
  transition: all 0.3s;
  &:hover,
  :focus {
    transform: scale(1.05);
  }
}
%form-hover {
  transition: all 0.3s;
  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
}
.header {
  margin-bottom: 238px;
  &__conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    @extend %conteiner;
  }
}
.header-mask {
  position: absolute;
  width: 100%;
  background: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
  z-index: -1;
  &__bg {
    width: 100%;
    opacity: 0.06;
    max-height: 800px;
    height: 100%;
    object-fit: cover;
  }
}
.header-dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 295px;
  right: 52px;
  gap: 40px;
  &__item-1 {
    @extend %dots;
  }
  &__item-2 {
    @extend %dots;
  }
  &__item-3 {
    @extend %dots;
  }
  &__item-4 {
    @extend %dots;
  }
  &__item-5 {
    @extend %dots;
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  &__logo-link {
  }
  &__logo {
  }
  &__menu {
    display: flex;
    flex-shrink: 1;
    gap: 93px;
  }
  &__menu-about {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__menu-project {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__menu-news {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__menu-contact {
    position: relative;
    @extend %menu-beffore;
    @extend %menu-hover-focus;
  }
  &__social {
    display: flex;
    gap: 20px;
  }
  &__social-link {
    @extend %buttons-links-hover;
  }
}
.header-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  &__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.3em;
    color: #ffffff;
  }
  &__arrow-link {
  }
  &__arrow {
    bottom: 0%;
    right: 48%;
    position: absolute;
    @extend %buttons-links-hover;
    z-index: 1;
  }
}
.text-style {
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
@media (max-width: 1170px) {
  .header__conteiner {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
